<h2><%= t('users.show.title') %></h2>

<div class="card">
  <div class="card-body">
    <p>
      <strong><%= User.human_attribute_name(:email) %>：</strong>
      <%= @user.email %>
    </p>
    <p>
      <strong><%= User.human_attribute_name(:postal_code) %>：</strong>
      <%= @user.postal_code %>
    </p>
    <p>
      <strong><%= User.human_attribute_name(:address) %>：</strong>
      <%= @user.address %>
    </p>
    <p>
      <strong><%= User.human_attribute_name(:bio) %>：</strong>
      <%= simple_format(@user.bio) %>
    </p>
  </div>
</div>

<% if current_user == @user %>
  <%= link_to t('users.show.edit_profile'), edit_user_registration_path,
              class: "btn btn-primary mt-3" %>
<% end %>
<%= link_to t('users.show.back'), users_path,
            class: "btn btn-secondary mt-3" %>
