<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t('books.show.edit_link'), edit_book_path(@book) %> |
  <%= link_to t('books.show.back_link'), books_path %>

  <%= button_to t('books.show.destroy_button'), @book, method: :delete %>
</nav>
